.App {
  text-align: center;
}

h1{
	font-family:Edwardian Script ITC;
	
}


.App-header {
  background-color:#731a38;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

